<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-lg-4 bg-light text-dark">
      <h1>id: {{ id }}</h1>
      <label for="titleInmput" class="col-sm-2 col-form-label">Nombre:</label>
      <input
        type="text"
        class="form-control form-name mr-3 ml-3"
        id="nameInput"
        placeholder="Nombre"
        formControlName="name"
        [ngClass]="{
          'is-invalid': form.get('name')?.invalid && form.get('name')?.touched,
          'is-valid': form.get('name')?.valid && form.get('name')?.touched
        }"
      />
      <label
        for=""
        *ngIf="
              form.get('name')?.touched &&
              form.get('name')?.errors?.['minlength']
            "
        class="text-danger"
        >Minimo 3 caracteres</label
      >
      <label
        for=""
        *ngIf="
              form.get('name')?.touched &&
              form.get('name')?.errors?.['maxlength']
            "
        class="text-danger"
        >Maximo 30 caracteres</label
      >
      <label
        for=""
        *ngIf="
              form.get('name')?.touched &&
              form.get('name')?.errors?.['required']
            "
        class="text-danger"
        >Este campo es requerido</label
      >
    </div>
    <div class="col-lg-8">
      <ul class="nav nav-tabs">
        <div>
          <ul class="nav nav-tabs">
            <li class="nav-item" *ngFor="let salon of restaurant.salones">
              <a
                class="nav-link active"
                aria-current="page"
                [routerLink]="['/EditarSalon/', salon.id]"
                (click)="seleccionarSalon(salon)"
              >
                {{ salon.name }}
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" (click)="agregarSalon()">+</a>
            </li>
          </ul>
        </div>
      </ul>

      <div class="container">
        <div class="cuadricula">
          <div
            *ngFor="let fila of salon.tableroDeMesas; let i = index"
            class="fila"
          >
            <div *ngFor="let mesa of fila; let j = index" class="mesa">
              <div class="mesaInterior" (click)="agregarMesa(i, j)">
                <div
                  class="card-body"
                  [ngClass]="{
                    ExisteMesa: mesa.state === DiningTableState.OPEN,
                    'elemento-invisible':
                      mesa.state === DiningTableState.NOT_EXIST,
                    OcupadaMesa: mesa.state === DiningTableState.OCCUPIED
                  }"
                >
                  <h5 class="card-title">{{ mesa.id }}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="button" value="Cancelar" class="btn btn-danger" />
        </div>
        <div class="col">
          <input type="submit" value="Confirmar" class="btn btn-success" />
        </div>
      </div>
    </div>
  </div>
</form>
