/* mesas.component.css */
.container {
  max-width: 50%;
}

.cuadricula {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 0;
}
.fila {
  display: contents;
}

.elemento-invisible {
  visibility: hidden;
}

.mesa {
  position: relative; /* Agrega posición relativa para que el padding sea relativo a este elemento */
  border: 1px solid #ccc;
  user-select: none;
}
.mesa:hover {
  background-color: #d0f5e4;
}

.mesa .mesaInterior {
  height: 0;

  padding-bottom: 100%; /* Relación de aspecto cuadrada (altura igual al ancho) */
}

.card-body {
  position: absolute; /* Permite posicionar el contenido dentro del contenedor de manera absoluta */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ExisteMesa {
  background-color: #198754 !important;
  color: rgb(255, 255, 255);
  border-radius: 4px;
}
.ExisteMesa:hover {
  background-color: #e22626 !important;
  cursor: pointer;
}
.OcupadaMesa {
  background-color: #d49432 !important;
  color: rgb(255, 255, 255);
  border-radius: 4px;
}
.form-name {
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.btn-agregar {
  cursor: pointer;
  user-select: none;
}
@media screen and (max-width: 1000px) {
  .container {
    max-width: 95%;
  }
}

.main {
  display: flex;
  flex-wrap: nowrap;
  height: -webkit-fill-available;
  height: calc(100vh - 56px) !important;
  max-height: calc(100vh - 56px) !important;
  overflow-x: auto;
  overflow-y: hidden;
}
.row {
  --bs-gutter-x: 0rem !important;
}

.col-contenedor {
  display: flex;
  flex-direction: column;
}

.elemento-inferior {
  margin-top: auto;
}
.no-visible {
  padding: 0px !important;
}
.lista-mesas {
  overflow-y: scroll;
  max-height: 80%;
}
.trash-active {
  cursor: pointer;
  color: #dc3545 !important;
}
.trash-active:hover {
  color: rgb(255, 148, 148) !important;
}
.trash-disabled {
  color: gray;
}
