<form action="" [formGroup]="form" class="p-3" (ngSubmit)="onSubmit()">
  <h1>Registrar nuevo producto</h1>
  <div class="row">
    <div class="col-12 col-sm-6 mb-2">
      <input
        type="text"
        class="form-control form-name mr-3 ml-3"
        id="nameInput"
        placeholder="Nombre"
        formControlName="name"
        [ngClass]="{
          'is-invalid': form.get('name')?.invalid && form.get('name')?.touched,
          'is-valid': form.get('name')?.valid && form.get('name')?.touched
        }"
      />
      <label
        for=""
        *ngIf="
            form.get('name')?.touched &&
            form.get('name')?.errors?.['minlength']
          "
        class="text-danger"
        >Minimo 3 caracteres</label
      >
      <label
        for=""
        *ngIf="
            form.get('name')?.touched &&
            form.get('name')?.errors?.['maxlength']
          "
        class="text-danger"
        >Maximo 30 caracteres</label
      >
      <label
        for=""
        *ngIf="
            form.get('name')?.touched &&
            form.get('name')?.errors?.['required']
          "
        class="text-danger"
        >Este campo es requerido</label
      >
    </div>
    <div class="col-sm-3 mb-2">
      <input
        type="number"
        class="form-control form-name mr-3 ml-3"
        id="priceInput"
        formControlName="price"
        min="0"
        [ngClass]="{
          'is-invalid':
            form.get('price')?.invalid && form.get('price')?.touched,
          'is-valid': form.get('price')?.valid && form.get('price')?.touched
        }"
      />

      <label
        for=""
        *ngIf="
              form.get('price')?.touched &&
              form.get('price')?.errors?.['min']
            "
        class="text-danger"
        >El precio minimo es de $0</label
      >
      <label
        for=""
        *ngIf="
              form.get('price')?.touched &&
              form.get('price')?.errors?.['required']
            "
        class="text-danger"
        >Este campo es requerido</label
      >
    </div>
    <div class="col-sm-3 mb-2 d-flex justify-content-center">
      <input type="submit" value="Crear" class="btn btn-success btn-crear" />
    </div>
  </div>
</form>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th
          class="user-select-none btn-accion"
          scope="col"
          (click)="sortName()"
        >
          Nombre <i class="bi bi-caret-down-fill"></i>
        </th>
        <th
          class="user-select-none btn-accion"
          scope="col"
          (click)="sortPrice()"
        >
          Precio <i class="bi bi-caret-down-fill"></i>
        </th>
        <th class="user-select-none" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency }}</td>
        <td class="col-accion">
          <button
            class="btn btn-success"
            (click)="onSelected(product)"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop1"
          >
            <i class="bi bi-eye"></i>
          </button>
          <button
            class="btn btn-warning text-white"
            (click)="onSelected(product)"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop2"
          >
            <i class="bi bi-pencil"></i>
          </button>
          <button class="btn btn-danger" (click)="onDelete(product)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Mostrar -->
<div
  class="modal fade z-index-50"
  id="staticBackdrop1"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Mostrar</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ productSelected.name }}</td>
              <td>{{ productSelected.price | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Editar -->
<div
  class="modal fade z-index-50"
  id="staticBackdrop2"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action=""
          [formGroup]="formEdit"
          class="p-3"
          (ngSubmit)="onSubmitEdit()"
        >
          <div class="row">
            <div class="col-6">
              <input
                type="text"
                class="form-control form-name mr-3 ml-3"
                id="nameInput"
                placeholder="Nombre"
                formControlName="name"
                [ngClass]="{
                  'is-invalid':
                    formEdit.get('name')?.invalid &&
                    formEdit.get('name')?.touched,
                  'is-valid':
                    formEdit.get('name')?.valid && formEdit.get('name')?.touched
                }"
              />
              <label
                for=""
                *ngIf="
                    formEdit.get('name')?.touched &&
                    formEdit.get('name')?.errors?.['minlength']
                  "
                class="text-danger"
                >Minimo 3 caracteres</label
              >
              <label
                for=""
                *ngIf="
                    formEdit.get('name')?.touched &&
                    formEdit.get('name')?.errors?.['maxlength']
                  "
                class="text-danger"
                >Maximo 30 caracteres</label
              >
              <label
                for=""
                *ngIf="
                    formEdit.get('name')?.touched &&
                    formEdit.get('name')?.errors?.['required']
                  "
                class="text-danger"
                >Este campo es requerido</label
              >
            </div>
            <div class="col-3">
              <input
                type="number"
                class="form-control form-name mr-3 ml-3"
                id="priceInput"
                formControlName="price"
                min="0"
                [ngClass]="{
                  'is-invalid':
                    formEdit.get('price')?.invalid &&
                    formEdit.get('price')?.touched,
                  'is-valid':
                    formEdit.get('price')?.valid &&
                    formEdit.get('price')?.touched
                }"
              />

              <label
                for=""
                *ngIf="
                      formEdit.get('price')?.touched &&
                      formEdit.get('price')?.errors?.['min']
                    "
                class="text-danger"
                >El precio minimo es de $0</label
              >
              <label
                for=""
                *ngIf="
                      formEdit.get('price')?.touched &&
                      formEdit.get('price')?.errors?.['required']
                    "
                class="text-danger"
                >Este campo es requerido</label
              >
            </div>
            <div class="col-3">
              <input
                type="submit"
                value="Actualizar"
                class="btn btn-success"
                data-bs-dismiss="modal"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
