.modal {
  z-index: 9999999999 !important;
}

.btn-accion {
  cursor: pointer;
}
.btn-accion:hover {
  background-color: rgb(219, 218, 218);
}
.btn-accion:active {
  background-color: rgb(226, 223, 223);
}

@media screen and (max-width: 580px) {
  .col-accion > * {
    padding: 2px !important;
  }
  .btn-crear {
    width: 100% !important;
  }
}
