<form action="" [formGroup]="form" class="p-3" (ngSubmit)="onSubmit()">
  <h1>Registrar nuevo Cliente</h1>
  <div class="row">
    <div class="col-5">
      <input
        type="text"
        class="form-control form-name mr-3 ml-3"
        id="nameInput"
        placeholder="Nombre"
        formControlName="name"
        [ngClass]="{
          'is-invalid': form.get('name')?.invalid && form.get('name')?.touched,
          'is-valid': form.get('name')?.valid
        }"
      />
      <label
        for=""
        *ngIf="
              form.get('name')?.touched &&
              form.get('name')?.errors?.['minlength']
            "
        class="text-danger"
        >Minimo 3 caracteres</label
      >
      <label
        for=""
        *ngIf="
              form.get('name')?.touched &&
              form.get('name')?.errors?.['maxlength']
            "
        class="text-danger"
        >Maximo 30 caracteres</label
      >
      <label
        for=""
        *ngIf="
              form.get('name')?.touched &&
              form.get('name')?.errors?.['required']
            "
        class="text-danger"
        >Este campo es requerido</label
      >
    </div>
    <div class="col-5">
      <input
        type="text"
        class="form-control form-name mr-3 ml-3"
        id="lastNameInput"
        formControlName="lastName"
        placeholder="Apellido"
        [ngClass]="{
          'is-invalid':
            form.get('lastName')?.invalid && form.get('lastName')?.touched,
          'is-valid': form.get('lastName')?.valid
        }"
      />
      <label
        for=""
        *ngIf="
              form.get('lastName')?.touched &&
              form.get('lastName')?.errors?.['minlength']
            "
        class="text-danger"
        >Minimo 3 caracteres</label
      >
      <label
        for=""
        *ngIf="
              form.get('lastName')?.touched &&
              form.get('lastName')?.errors?.['maxlength']
            "
        class="text-danger"
        >Maximo 30 caracteres</label
      >
      <label
        for=""
        *ngIf="
              form.get('lastName')?.touched &&
              form.get('lastName')?.errors?.['required']
            "
        class="text-danger"
        >Este campo es requerido</label
      >
    </div>
    <div class="col-2">
      <input type="submit" value="Crear" class="btn btn-success" />
    </div>
  </div>
</form>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th
          class="user-select-none btn-accion"
          scope="col"
          (click)="sortName()"
        >
          Nombre <i class="bi bi-caret-down-fill"></i>
        </th>
        <th
          class="user-select-none btn-accion"
          scope="col"
          (click)="sortLastName()"
        >
          Apellido <i class="bi bi-caret-down-fill"></i>
        </th>
        <th class="user-select-none" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of clients">
        @if (clients.length>0) {
        <td>{{ product.name }}</td>
        <td>{{ product.lastName }}</td>
        <td>
          <button
            class="btn btn-success"
            (click)="onSelected(product)"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-eye"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"
              />
              <path
                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"
              />
            </svg>
          </button>
          <button
            class="btn btn-warning text-white"
            (click)="onSelected(product)"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"
              />
            </svg>
          </button>
          <button class="btn btn-danger" (click)="onDelete(product)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
              />
              <path
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
              />
            </svg>
          </button>
        </td>
        }@else { No hay clientes }
      </tr>
    </tbody>
  </table>
</div>

<!-- Mostrar -->
<div
  class="modal fade z-index-50"
  id="staticBackdrop1"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Mostrar</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ clientSelected.name }}</td>
              <td>{{ clientSelected.lastName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Editar -->
<div
  class="modal fade z-index-50"
  id="staticBackdrop2"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action=""
          [formGroup]="formEdit"
          class="p-3"
          (ngSubmit)="onSubmitEdit()"
        >
          <div class="row">
            <div class="col-12 col-md-5">
              <input
                type="text"
                class="form-control form-name mr-3 ml-3"
                id="nameInput"
                placeholder="Nombre"
                formControlName="name"
                [ngClass]="{
                  'is-invalid':
                    formEdit.get('name')?.invalid &&
                    formEdit.get('name')?.touched,
                  'is-valid': formEdit.get('name')?.valid
                }"
              />
              <label
                for=""
                *ngIf="
                      formEdit.get('name')?.touched &&
                      formEdit.get('name')?.errors?.['minlength']
                    "
                class="text-danger"
                >Minimo 3 caracteres</label
              >
              <label
                for=""
                *ngIf="
                      formEdit.get('name')?.touched &&
                      formEdit.get('name')?.errors?.['maxlength']
                    "
                class="text-danger"
                >Maximo 30 caracteres</label
              >
              <label
                for=""
                *ngIf="
                      formEdit.get('name')?.touched &&
                      formEdit.get('name')?.errors?.['required']
                    "
                class="text-danger"
                >Este campo es requerido</label
              >
            </div>
            <div class="col-12 col-md-5">
              <input
                type="string"
                class="form-control form-name mr-3 ml-3"
                id="lastNameInput"
                formControlName="lastName"
                placeholder="Apellido"
                [ngClass]="{
                  'is-invalid':
                    formEdit.get('lastName')?.invalid &&
                    formEdit.get('lastName')?.touched,
                  'is-valid': formEdit.get('lastName')?.valid
                }"
              />
              <label
                for=""
                *ngIf="
                    form.get('lastName')?.touched &&
                    form.get('lastName')?.errors?.['minlength']
                  "
                class="text-danger"
                >Minimo 3 caracteres</label
              >
              <label
                for=""
                *ngIf="
                    form.get('lastName')?.touched &&
                    form.get('lastName')?.errors?.['maxlength']
                  "
                class="text-danger"
                >Maximo 30 caracteres</label
              >
              <label
                for=""
                *ngIf="
                    form.get('lastName')?.touched &&
                    form.get('lastName')?.errors?.['required']
                  "
                class="text-danger"
                >Este campo es requerido</label
              >
            </div>
            <div class="col-12 col-md-4">
              <input
                type="submit"
                value="Actualizar"
                class="btn btn-success"
                data-bs-dismiss="modal"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
