.row {
  --bs-gutter-x: 0rem !important;
}

@media screen and (max-width: 580px) {
  .barra {
    padding: 0px !important;
  }
}
@media screen and (max-width: 440px) {
  .texto-barra {
    display: none !important;
  }
}
.texto-barra {
  padding-left: 5px;
}
