<main>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-3">
        <div
          class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark barra"
          style="width: 100%; height: calc(100vh - 56px) !important"
        >
          <hr class="texto-barra" />
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item text-center">
              <a
                routerLink="Productos"
                class="nav-link text-white"
                aria-current="page"
                ngClass="{{ opcionSelected === 'Productos' ? 'active' : '' }}"
                (click)="opcionSelected = 'Productos'"
              >
                <i class="bi bi-box-seam pr-2"></i>
                <label for="" class="texto-barra pl-5"> Productos</label>
              </a>
            </li>
            <li class="nav-item text-center">
              <a
                routerLink="Clientes"
                class="nav-link text-white"
                ngClass="{{ opcionSelected === 'Clientes' ? 'active' : '' }}"
                (click)="opcionSelected = 'Clientes'"
              >
                <i class="bi bi-person-fill"></i>
                <label for="" class="texto-barra">Clientes</label>
              </a>
            </li>
            <li class="nav-item text-center">
              <a
                routerLink="Empleados"
                class="nav-link text-white"
                ngClass="{{ opcionSelected === 'Empleados' ? 'active' : '' }}"
                (click)="opcionSelected = 'Empleados'"
              >
                <i class="bi bi-person-workspace"></i>
                <label for="" class="texto-barra">Empleados</label>
              </a>
            </li>
          </ul>
          <hr />
        </div>
      </div>

      <div class="col-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
